<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGkqH9UvI2WpEBblX2IADMmHQ-IOewNvg</string>
	<key>GCM_SENDER_ID</key>
	<string>925969828172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superoperator</string>
	<key>PROJECT_ID</key>
	<string>fpcl-ops</string>
	<key>STORAGE_BUCKET</key>
	<string>fpcl-ops.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925969828172:ios:a748411a5f7bb2f489a7e9</string>
</dict>
</plist>